{{ next_data('valine', config.valine, {
  libUrl: config.valine.libUrl | default('https://cdnjs.cloudflare.com/ajax/libs/valine/1.5.3/Valine.min.js', true),
  el: '#valine-comments',
  path: url_for(page.path) | replace(r/index\.html$/, ''),
  serverURLs: config.valine.serverURLs or 'https://' + config.valine.appId.slice(0, 8) | lower + '.api.lncldglobal.com'
}) }}
<script>
document.addEventListener('page:loaded', () => {
  NexT.utils.loadComments(CONFIG.valine.el)
    .then(() => NexT.utils.getScript(
      CONFIG.valine.libUrl,
      { condition: window.Valine }
    ))
    .then(() => {
      new Valine(CONFIG.valine);
    });
});
</script>
